.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  padding: 8px 0;
}

.buttons {
  display: flex;
  gap: 3px;
}

.taskInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

.btn:last-child {
  color: #f44336;
}

.btn:hover {
  background-color: #e2e5e8;
}

.btn:active {
  background-color: #bdbdbd;
}

.checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
